@use '../base/mixins' as m;
@use '../base/variables' as v;
@use '../base/theme' as t;

footer {
    height: auto;
    width: 100%;
    padding: 5rem 0;
    margin-top: 4rem;
    background-color: t.$primary-color-dark;
    ;
    
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
}